@model IEnumerable<WebApplication1.Models.Calendar>

@{
    ViewData["Title"] = "Index";
}


<h2>檔案上傳</h2>


<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>從政府部門<a href="https://data.gov.tw/dataset/26557">下載</a>一Excel檔，並上傳至此。</p>
            <input type="file" name="files" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="匯入" />
        </div>
    </div>
</form>




<div id='jqxWidget'></div>
<div id='log'></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isHoliday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.holidayCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isHoliday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.holidayCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    
    $("#jqxWidget").jqxCalendar({
        enableTooltips: true,
        width: 220,
        height: 220
    });
    
    var jsonArray = [{
        "date": new Date("2018-12-20T11:20:00.000Z")
    }, {
        "date": new Date("2018-01-11T09:20:00.000Z")
    }, {
        "date": new Date("2018-02-15T03:20:00.000Z")
    }, {
        "date": new Date("2018-03-21T23:23:00.000Z")
    }, {
        "date": new Date("2018-04-10T11:20:00.000Z")
    }, {
        "date": new Date("2018-06-20T11:20:00.000Z")
    }, {
        "date": new Date("2018-07-20T11:20:00.000Z")
    }, {
        "date": new Date("2018-01-07T11:20:00.000Z")
    }];
    for (var obj, i = 0; i < jsonArray.length; i++) {
        obj = jsonArray[i];
        $("#jqxWidget").jqxCalendar('addSpecialDate', obj.date, '', 'Special Date');
    };

</script>